.contact-info .fab {
    color: #0077b5; /* Color oficial de LinkedIn */
    margin-right: 5px;
}

.contact-info a {
    display: inline-flex;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.visualization-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.visualization-item img {
    max-width: 100%;  /* Esto asegura que la imagen nunca sea más ancha que su contenedor */
    height: auto;      /* Mantiene la proporción original de la imagen */
    display: block;    /* Elimina espacios extraños debajo de la imagen */
    margin: 0 auto;    /* Centra la imagen horizontalmente */
    border-radius: 4px; /* Bordes redondeados (opcional) */
}
