.contact-info .fab {
    color: #0077b5; /* Color oficial de LinkedIn */
    margin-right: 5px;
}

.contact-info a {
    display: inline-flex;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.visualization-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se reacomoden si no caben */
    justify-content: center; /* Centra las imágenes */
    gap: 10px; /* Espaciado entre elementos */
    overflow: hidden; /* Evita que se desborde el contenido */
}

.visualization-item {
    max-width: 100%; /* Se asegura de que los elementos no se salgan */
    text-align: center; /* Centra el texto */
}

.visualization-item img {
    max-width: 100%; /* Evita que las imágenes se desborden */
    height: auto; /* Mantiene la proporción */
    display: block; /* Elimina espacios en línea */
}




